.vs/FootballShop/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/
FBS.Application/obj/
FBS.DataAccess/bin/
FBS.Application/bin/
FBS.DataAccess/obj/
FBS.Internal/bin/
FBS.Internal/obj/
FBS.Shared/obj/
